

/* ! header section about start */

/* ! hero section start */
.hero-about {
    background-color: var(--main-color);
    text-align: center;
    padding: 80px 20px;
}

.hero-about h2 {
    font-size: 50px;
    font-family: var(--headline-font);
    letter-spacing: 2px;
    word-spacing: 3px;
    color: var(--secondary-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.hero-about p {
    color: var(--neutral-1-color);
    letter-spacing: 1px;
    line-height: 1.8;
    word-spacing: 2px;

}

@media (max-width:750px) {
    .hero-about p{
        font-size: 14px;
    }

    .hero-about h2{
        font-size: 40px;
    }
}


/* ? hero section end */

/* ? header section about end */

/* ! main section start */

/* ! main section cover start */
.main-section-cover {

    background:  url(../assets/imgs/about.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size:  auto 100%;
    
}


.main-section-content{
    background: linear-gradient(to right, var(--neutral-1-color) 75%, #ffffff00);

}

@media only screen and (max-width:1200px) {
    .main-section-content{
        background: linear-gradient(to right, var(--neutral-1-color) 55%, #ffffff00);
    }
    
}

@media only screen and (max-width:890px) {
    .main-section-content{
        background: linear-gradient(to right, var(--neutral-1-color) 25%, #ffffff00);
    }
    .main-section-cover {
        background-size: cover;
    }
    
}

@media only screen and (max-width:590px) {
    .main-section-content{
        background: linear-gradient(to right, var(--neutral-1-color) 5%, #ffffff00);
    }

    .main-section-cover {
        background-size: cover;
    }


    
}
/* ? main section cover end */

/* ! project gensis section start */
.project-section {
    width: 80%;
    padding: 30px 0px 30px 60px;
    margin-bottom: 30px;
}

.project-section span {
    background-color: var(--secondary-color);
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    padding: 3px 10px;
    display: block;
    width: fit-content;
    margin-bottom: 20px;
}

.project-section h3 {
    letter-spacing: 2px;
    word-spacing: 3px;
    color: var(--main-1-color);
    font-size: 30px;
    margin-bottom: 20px;
}

.project-section p {
    margin-bottom: 20px;
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 90%;
}




@media only screen and (max-width:800px) {
    .project-section span {
        font-size: 14px;
    }

    .project-section h3 {
        font-size: 25px;
    }

    .project-section p {
        font-size: 15px;
    }
}

@media only screen and (max-width:500px) {
    .project-section {
        width: 80%;
        padding: 30px 0px 30px 20px;

    }

    .project-section span {
        font-size: 12px;
    }

    .project-section h3 {
        font-size: 22px;
    }

    .project-section p {
        font-size: 13px;
    }


}
/* ? project gensis section end */

/* ! about values core section start  */
.about-values-section{
    padding: 20px;
}


.about-values-section h3{
    text-align: center;
    font-size: 25px;
    font-family: var(--headline-font);
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--main-1-color);
}

.values-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}





.values-cards article{
    background-color: var(--neutral-color);
    width: 330px;
    height: 200px;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border-top: 4px solid var(--secondary-color);
}

.values-cards article span{
    background-color: rgba(9, 172, 9, 0.147);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: var(--main-1-color);
    margin: 10px 0px 20px 0px;
}

.values-cards article h4{
    color: var(--main-color);
    font-family: var(--headline-font);
    font-size: 20px;
    margin-bottom: 15px;
}

.values-cards article p{
    color: var(--balck-1-color);
    letter-spacing: 0.3px;
    font-size: 15px;
}

@media only screen and (max-width:900px) {
    .values-cards article{
        width: 90%;
        height: fit-content;
    }

    .values-cards article div{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .values-cards article div h4{
        margin-left: 20px;
    }
}
/* ? about values core section end  */

/* ! about team section start */
.team-section-cover{
    background: linear-gradient(to bottom , var(--neutral-1-color) , var(--neutral-color));
    padding: 30px;
}
.team-section-content{
    border-radius: 30px;
    padding: 30px 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.team-section-content h2{
    letter-spacing: 2px;
    font-size: 25px;
    font-family: var(--headline-font);
    color: var(--main-color);

}

.team-section-content p{
    color: var(--balck-1-color);
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;

}


.team-cards{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 30px;
    flex-wrap: wrap;
}

.team-cards article{
    background-color: #fff;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    height: 260px;
    width: 230px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.team-cards article img{
    width: 150px;
    height: 150px;
    border-radius: 90px;

}

.team-cards article h3{
    font-size: 16px;

    color: var(--main-color);
    letter-spacing: 2px;
    font-family: var(--headline-font);
}

.team-cards article h5{
    font-size: 12px;
    color: var(--secondary-1-color);
    letter-spacing: 1px;
    margin-top: 3px;
    
}

.team-cards article p{
    color: #5a5a5a92;
    font-size: 12px;
    
    height: 40px;
}


.team-cards article .team-card-bun a{
    font-size: 20px;
    margin: 0px 15px;
    color: #7b7b7b92;
}


@media (max-width:640px) {
    .team-cards article {
        width: 80%;
    }
    
}

/* ? about team section end */

/* ! fast contact section start */
.fast-contact-section{
    background-color: var(--neutral-color);
    display: flex;
    justify-content: space-between;
    padding:40px;
    align-items: center;
}

.fast-contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.fast-contact-info a{
    color:var(--main-1-color);
    margin: 15px;
    letter-spacing: 0.6px;
    text-transform: lowercase;
    font-size: 18px;
}
/* ? fast contact section end */



/* ? main section end */