body {
    background-color: #efead7;
}



/* ! header section start*/
header {
    background: url(../assets/imgs/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}


/* ! hero section start */
.hero-content-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    margin-top: 40px;
}




.hero-l {

    width: 48%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation-duration: 1.3s;
}

.hero-l h3 {
    font-size: 39px;
}

.hero-l p {
    font-size: 20px;
    width: 90%;
    text-align: center;
}



.hero-l-button {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
}

.hero-l-button a {
    text-decoration: none;
    height: fit-content;
    padding: 15px 20px;
    border-radius: 8px;
}

.hero-l-button a:nth-of-type(1) {
    background-color: #7e642c;
    color: var(--neutral-color);
    color: var(--neutral-color);
}

.hero-l-button a:nth-of-type(2) {
    background-color: transparent;
    outline: 2px solid var(--main-color);
    color: var(--main-color);
}




.hero-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 610px;
    animation-duration: 1.3s;

}


.hero-r img {
    width: 80%;
    border-radius: 30px;
    margin: 10px 0px;
}


@media only screen and (max-width:850px) {
    nav a {
        /* todo remove this line after hidden the nav a */
        display: none;
    }
    
    
    .hero-content-home {
        flex-direction: column;
    }
    
    .hero-l,
    .hero-r {
        width: 80%;
    }
    
    .hero-r {
        flex-direction: row;
        height: 300px;
        justify-content: space-between;
    }
    
    .hero-r img {
        width: 47%;
        height: 200px;
    }
    
}

@media only screen and (max-width:650px) {
    nav a {
        /* todo remove this line after hidden the nav a */
        display: none;
    }
    
    .hero-l h3 {
        font-size: 25px;
    }
    
    .hero-l p {
        font-size: 18px;
    }
    
    .hero-l-button a {
        font-size: 14px;
        padding: 10px 15px;
        
    }

    
    
    .hero-r {
        flex-direction: column;
        height: 500px;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .hero-r img {
        width: 90%;
        height: 200px;
    }
    

    
    
}



/* ? hero section end */
/* ? header section end */

/* ! main section start */
/* ! main information section start */
.container-info{
    background:linear-gradient(#efead7,#cbbda0c4 , #efead7) ;
    
}

.main-info{
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-info article{
    
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-info article h5 {
    font-size: 30px;
}

.main-info article p {
    font-size: 22px;
    text-align: center;
}

@media only screen and (max-width:850px) {
    .main-info{
        padding: 20px 0;
    }

    .main-info article h5 {
        font-size: 17px;
    
    }
    
    .main-info article p {
        font-size: 15px;
    }
}

/* ? main information section end */

/* ! about the islam section start */
.about-islam{
    background-color: #efead7;
    padding: 80px 0px;
}

.about-islam article{
    background-color:var(--neutral-color);
    width: 90%;
    padding: 50px 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border-top: solid var(--main-color) 3px;
    border-bottom: solid var(--main-color) 2px;
}

.about-islam article img{
    width: 250px;
    height: fit-content;
}

.about-islam-message{
    width: 70%;
}

.about-islam-message h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.about-islam-message p{
    font-size: 20px;
}

@media only screen and (max-width:992px) {
    .about-islam-message h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    
    .about-islam-message p{
        font-size: 17px;
    }
}

@media only screen and (max-width:600px) {
    .about-islam article{
        flex-direction: column ;
        width: 80%;
    }
    
    .about-islam-message{
        width: 80%;
        margin-top: 20px;
    }
    
}   
/* ? about the islam section end */

/* ! glimpse section start  */

.background-glimpse {
    
    background: linear-gradient(to bottom , #efe8d7 10% , var(--neutral-color) 20%);
}

.glimpse-section{
    
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    padding: 40px 0px;
}

.glimpse-section img{
    width: 20%;
    border-radius: 30px;
    outline: solid var(--main-color) 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}



.glimpse-p{
    width: 60%;
    
}
.glimpse-p h2{
    text-transform: capitalize;
    background-color: var(--secondary-color);
    padding: 3px 15px;
    border-radius: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
}
.glimpse-p h3{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.glimpse-p p{
    font-size: 18px;
    margin-bottom: 20px;
}
.glimpse-p a{
    font-size: 15px;
    padding: 5px;
}


@media only screen and (max-width:1000px){
    .glimpse-section{
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        position: relative;
    }
    
    .glimpse-section img{
        width: 100%;
        
        
    }
    .glimpse-p{
        position: absolute;
        left: 0%;
        top: calc(0% + 40px);
        bottom: calc(0% + 40px);
        border-radius: 30px 0px 0px 30px;
        background-color: rgba(81, 81, 81, 0.811);
        padding: 10px;
        width: calc(50% - 20px);
        overflow: auto;
        scrollbar-width: none;
        
    }

    .glimpse-p h2{
        background-color: var(--main-color);
        color: var(--secondary-color);
        font-size: 16px;
        
    }
    
    .glimpse-p h3{
        color: var(--secondary-color);
        font-size: 25px;
    }


    .glimpse-p p{
        color: var(--neutral-color);
        font-size: 17px;
        
        width: 90%;
    }

    .glimpse-p a{
        background-color: var(--neutral-color);
        border-radius: 20px;
    }

}

@media only screen and (max-width:700px){
    .glimpse-p h2 {
        font-size: 15px;
    }

    .glimpse-p h3{
        font-size: 20px;
    }

    .glimpse-p p{
        font-size: 14px;
    }

    .glimpse-p a{
        font-size: 12px;
    }
}

@media only screen and (max-width:580px){

    .glimpse-section{
        padding: 20px 0px;
        width: 85%;
    }

    .glimpse-p{
        position: absolute;
        left: 0%;
        top: calc(0% + 20px);
        bottom: calc(0% + 20px);
        border-radius: 30px ;
        background-color: rgba(81, 81, 81, 0.811);
        padding: 10px;
        width: calc(100% - 20px);
        overflow: auto;
        scrollbar-width: none;
        
    }

}


/* ? glimpse section end  */

/* ? main section end */