* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #1f6f5c;
    --secondary-color: #C9A24B;
    --tertiary-color: #2D3E35;
    --neutral-color: #FBF8F2;
    --headline-font: monospace;
    --body-font: "Playfair Display", serif;

}


a,
button {
    text-transform: uppercase;
    text-decoration: none;
}

body{
    font-family: var(--body-font);
}


.ayah {
    direction: rtl;
    font-family: 'Amiri', 'Traditional Arabic', serif;
}

.main-color{
    color: var(--main-color);
}

.sec-color{
    color: var(--secondary-color);
}

.thi-color{
    color: var(--tertiary-color);
}

.last-color{
    color: var(--neutral-color);
}

.head-font{
    font-family: var(--headline-font);
}

.up-letters{
    text-transform: uppercase   ;
}









/* todo navbar global start  */

.nav-home {
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#logo img {
    width: 130px;
}



.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50%;
}

.nav-list a {
    font-size: 18px;
    padding: 2px;
}

.nav-list a:hover {
    border-bottom: solid 3px var(--secondary-color);
    color: var(--secondary-color);
}



.nav-button {
    background: none;
    border: none;
    outline: none;
}




/* todo navbar global end  */