* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #1f6f5c;
    --secondary-color: #C9A24B;
    --tertiary-color: #2D3E35;
    --neutral-color: #FBF8F2;
    --headline-font: monospace;
    --body-font: "Playfair Display", serif;

}


a,
button {
    text-transform: uppercase;
    text-decoration: none;
}

body {
    font-family: var(--body-font);
}


.ayah {
    direction: rtl;
    font-family: 'Amiri', 'Traditional Arabic', serif;
}

.main-color {
    color: var(--main-color);
}

.sec-color {
    color: var(--secondary-color);
}

.thi-color {
    color: var(--tertiary-color);
}

.last-color {
    color: var(--neutral-color);
}

.head-font {
    font-family: var(--headline-font);
}

.up-letters {
    text-transform: uppercase;
}


.aos-op {
    opacity: 0;
    animation: op 0.8s ease-in normal;
}

@keyframes op {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}








/* todo navbar global start  */

.nav-home {
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#logo img {
    width: 130px;
}



.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50%;
}

.nav-list a {
    font-size: 18px;
    padding: 2px;
}

.nav-list a:hover {
    border-bottom: solid 3px var(--secondary-color);
    color: var(--secondary-color);
}



.nav-button {
    background: none;
    border: none;
    outline: none;
}



@media only screen and (max-width:850px) {
    nav a {
        /* todo remove this line after hidden the nav a */
        display: none;
    }
}



/* todo navbar global end  */


/* ! footer global start */

footer {
    background-color: var(--main-color);
    padding: 20px 0px;

}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    margin-bottom: 20px;
    padding: 0 20px;
}

.footer-sections {

    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-sections h3 {
    color: var(--secondary-color);
    font-weight: 400;

}

.footer-sections a {
    color: var(--neutral-color);
    text-transform: none;
    letter-spacing: 1px;
    word-spacing: 2px;
}


.footer-icon {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-icon h2 {
    font-weight: 900;
    font-size: 40px;
    font-family: Times, serif;
    letter-spacing: 2px;

    margin-top: 10px;
}

.footer-icon p {
    color: var(--neutral-color);
    text-align: center;
    font-size: 18px;
}


#newsletter h3 {
    color: var(--secondary-color);
    font-weight: 400;

}

#newsletter {
    height: 100px;
}

#newsletter form input {
    background-color: #ffffff38;
    padding: 5px 10px;
    height: 40px;
    width: 70%;
    margin: 20px 0px;
    border: none;
    outline: none;
    border-radius: 3px 0px 0px 3px;
    color: #fff;
    font-size: 17px;

}

#newsletter form input::placeholder {
    color: #ffffff84;

}

#newsletter form button {
    background-color: #d19c2b;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 18px;
    height: 50px;
    margin-left: -4px;
    border-radius: 0px 3px 3px 0px;
    font-size: 17px;
}

footer hr {
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.215);
    border: none;
    margin: auto;
}

footer h6 {
    text-align: center;
    color: #ffffff6b;
    margin-top: 20px;
    font-size: 13px;
}

@media only screen and (max-width:1350px) {
    #newsletter {
        width: 100%;
        margin-top: 20px;

    }

    #newsletter form,
    #newsletter h3 {
        text-align: center;
    }


}

@media only screen and (max-width:1060px) {
    .footer-icon {
        width: 90%;
        margin: auto;
        justify-content: space-around;
        height: 100px;
        margin-bottom: 20px;
    }

    .footer-icon h2 {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-sections {
        flex-direction: row;
        width: 100%;


        height: fit-content;
        margin: 30px 0px;
    }

    .footer-sections a,
    .footer-sections h3 {
        width: 150px;
        margin: auto;
    }


}

@media only screen and (max-width:950px) {


    .footer-container {
        flex-direction: row;
    }

    .footer-icon h2 {
        font-size: 35px;
    }


    .footer-sections {
        width: 40%;

        flex-direction: column;
        margin: 10px 0px;
    }

    .footer-sections a,
    .footer-sections h3 {
        width: 150px;
        margin-top: 20px;
    }



}


@media only screen and (max-width:550px) {
    .footer-icon h2 {
        font-size: 28px;
    }

    .footer-icon p {
        font-size: 17px;
    }

    .footer-sections h3 {
        font-size: 18px;
    }

    .footer-container a {
        font-size: 15px;
    }

    #newsletter h3,
    #newseletter form input::placeholder {
        font-size: 18px;
    }

}

/* ? footer global end */