/* ! glimpse section start  */

.background-glimpse {
    
    background: linear-gradient(to bottom , #efe8d7 10% , var(--neutral-color) 20%);
}

.glimpse-section{
    
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    padding: 40px 0px;
}

.glimpse-section img{
    width: 20%;
    border-radius: 30px;
    outline: solid var(--main-color) 1px;
    
}



.glimpse-p{
    width: 60%;
    
}
.glimpse-p h2{
    text-transform: capitalize;
    background-color: var(--secondary-color);
    padding: 3px 15px;
    border-radius: 20px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
}
.glimpse-p h3{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.glimpse-p p{
    font-size: 18px;
    margin-bottom: 20px;
}
.glimpse-p a{
    font-size: 15px;
    padding: 5px;
}

@media only screen and (max-width:1000px){
    .glimpse-section{
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        position: relative;
    }
    
    .glimpse-section img{
        width: 100%;
        
        
    }
    .glimpse-p{
        position: absolute;
        left: 0%;
        top: calc(0% + 40px);
        bottom: calc(0% + 40px);
        border-radius: 30px 0px 0px 30px;
        background-color: rgba(81, 81, 81, 0.811);
        padding: 10px;
        width: calc(50% - 20px);
        overflow: hidden;
    }

    .glimpse-p h2{
        background-color: var(--main-color);
        color: var(--secondary-color);
        font-size: 16px;
        
    }
    
    .glimpse-p h3{
        color: var(--secondary-color);
        font-size: 25px;
    }


    .glimpse-p p{
        color: var(--neutral-color);
        font-size: 17px;
        
        width: 90%;
    }

    .glimpse-p a{
        background-color: var(--neutral-color);
        border-radius: 20px;
    }

}



/* ? glimpse section end  */